<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="PDF2TextConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <PDF2TextConverter.Properties.Settings>
            <setting name="LastSourceFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveToFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastFormSize" serializeAs="String">
                <value>600, 590</value>
            </setting>
            <setting name="LastSourceFilesFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
        </PDF2TextConverter.Properties.Settings>
    </userSettings>
</configuration>
